<div class="container col-md-12">

  <div class="row center">
    <h1><%= current_user.name %></h1>
    <%= image_tag @user.profile_image_url.to_s.sub("_normal.","."), size: "300x300" %>

    <table class="center twitter-counts">
      <tr>
        <td>
          <div><strong>Tweets</strong></div>
          <div><%= @user.tweets_count %></div>
        </td>
        <td>
          <div><strong>Following</strong></div>
          <div><%= @user.friends_count %></div>
        </td>
        <td>
          <div><strong>Followers</strong></div>
          <div><%= @user.followers_count %></div>
        </td>
      </tr>
    </table>

    <h3><%= link_to "@#{current_user.screen_name}", @user.url.to_s %> said...</h3>
  </div>

  <div class="row well profile-status">
    <div class="col-md-11">
        <h2 class="center">"<%= twitter_links(@user.status.text) %>"</h2>
    </div>
    <div class="col-md-1">
      <div class="trash">
        <%= link_to status_path(@user.status.id), method: :delete, data: {confirm: "Are you sure?"} do %>
          <i class="glyphicon glyphicon-trash big-glyph trash"></i>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-11">
      <table>
        <tbody class="profile-extras">
          <tr>
            <td class="labels">Description:</td><td><%= twitter_links(@user.description) %></td>
          </tr>
          <tr>
            <td class="labels">Location:</td><td><%= @user.location %></td>
          </tr>
          <tr>
            <td class="labels">Website:</td><td><%= link_to @user.website.to_s, @user.website.to_s %></td>
          </tr>
          <tr>
            <td class="labels">Since:</td><td><%= @user.created_at.strftime("%B %d, %Y") %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>
